@charset "UTF-8";
.section-subtitle {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #525252;
}

.text {
  font-size: 14px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.title-wrapper {
  margin-bottom: 50px;
}

.slick-list {
  padding: 50px 0;
}
.slick-list .slick-slide {
  margin: 0 15px;
}

a {
  text-decoration: none;
}

.primary-btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  padding: 18px 30px;
  border: none;
  border-radius: 100px;
  outline: 0 none;
  position: relative;
  z-index: 1;
  border: 2px solid;
  text-transform: capitalize;
  transition: all 0.5s;
}
.primary-btn:hover {
  background: transparent !important;
}

.paddingX-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.banner {
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
}
.banner .banner-content .banner-text h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00A4EF !important;
  line-height: 1.3;
  margin-bottom: 50px;
}
.banner .banner-content .banner-text h1 span {
  color: #00A4EF !important;
}
.banner .banner-content .banner-text .banner-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.banner .banner-content .banner-text .banner-card-wrapper .banner-card {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner .banner-content .banner-text .banner-card-wrapper .banner-card .banner-card-img {
  width: 180px;
  margin-bottom: 10px;
}
.banner .banner-content .banner-text .banner-card-wrapper .banner-card .banner-card-img img {
  width: 100%;
}
.banner .banner-content .banner-text .banner-card-wrapper .banner-card h4 {
  color: #00A4EF !important;
  text-align: center;
}
.banner .banner-content .banner-text .primary-btn {
  background: #00A4EF !important;
  color: #fff;
  border-color: #00A4EF !important;
  font-size: 16px !important;
  font-weight: 600;
}
.banner .banner-content .banner-text .primary-btn:hover {
  color: #00A4EF !important;
}
.banner .banner-content .banner-img img {
  width: 100%;
}

.empowering {
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
  background: url("../images/bg/stars.svg") #00A4EF !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.empowering .section-subtitle {
  color: #fff;
}
.empowering .empower-card {
  text-align: center;
  padding: 20px;
  color: #fff;
}
.empowering .empower-card i {
  font-size: 6rem;
}
.empowering .empower-card h4 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

.collaboration {
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
  background: url("../images/bg/stars.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.collaboration .section-subtitle {
  color: #525252;
}
.collaboration .collaboration-img img {
  width: 100%;
}

.medicure-modules {
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
}
.medicure-modules .title-wrapper .section-subtitle {
  color: #525252;
}
.medicure-modules .title-wrapper .section-subtitle span {
  color: #00A4EF !important;
}
.medicure-modules .modules-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 24px;
}
.medicure-modules .modules-card-wrapper .module-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #525252;
  transition: all 1s;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.medicure-modules .modules-card-wrapper .module-card a {
  color: #525252;
  transition: all 1s;
}
.medicure-modules .modules-card-wrapper .module-card a h4 {
  font-size: 16px;
  position: relative;
  margin: 0;
  padding-left: 30px;
}
.medicure-modules .modules-card-wrapper .module-card a h4 i {
  font-size: 2rem;
}
.medicure-modules .modules-card-wrapper .module-card a h4::before {
  position: absolute;
  content: "➤";
  left: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.medicure-modules .modules-card-wrapper .module-card:hover {
  scale: 1.05;
  background: #00A4EF !important;
  color: #fff;
}
.medicure-modules .modules-card-wrapper .module-card:hover a {
  color: #fff;
}

.integrate {
  padding: 80px 0;
  background: url("../images/bg/background-02.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.integrate .title-wrapper .section-subtitle {
  color: #525252;
}
.integrate .title-wrapper .section-subtitle span {
  color: #00A4EF !important;
}
.integrate .integrate-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.integrate .integrate-card-wrapper .integrate-card {
  border-radius: 10px;
  padding: 50px 30px;
  color: #525252;
  transition: all 1s;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}
.integrate .integrate-card-wrapper .integrate-card .card-img {
  width: 70px;
  margin: 0 auto;
}
.integrate .integrate-card-wrapper .integrate-card:hover {
  scale: 1.03;
}
.integrate .integrate-card-wrapper .integrate-card:hover h4 {
  color: #00A4EF !important;
}
.integrate .integrate-card-wrapper .integrate-card i {
  font-size: 5rem;
  color: #00A4EF !important;
  margin-bottom: 30px;
  transition: all 1s;
}
.integrate .integrate-card-wrapper .integrate-card h4 {
  margin: 30px 0;
  color: #525252;
  font-size: 20px;
  transition: all 1s;
}
.integrate .integrate-card-wrapper .integrate-card p {
  color: #8a8a8a;
  transition: all 1s;
  font-size: 14px;
}

.cutting-edge {
  padding: 80px 0;
  background: url("../images/bg/background-02.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.cutting-edge .cutting-edge-content .cutting-edge-text h2 {
  font-size: 45px;
  font-weight: 600;
  text-transform: capitalize;
  color: #00A4EF !important;
  line-height: 1.3;
}

.testimonial {
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
}
.testimonial .title-wrapper .section-subtitle {
  color: #525252;
}
.testimonial .title-wrapper .section-subtitle span {
  color: #00A4EF !important;
}
.testimonial .testimonial-slider-wrapper .slick-arrow {
  display: none !important;
}
.testimonial .testimonial-slider-wrapper .testimonail-card {
  border-radius: 30px;
}
.testimonial .testimonial-slider-wrapper .testimonail-card .card-body {
  padding: 40px;
  color: #525252;
}
.testimonial .testimonial-slider-wrapper .testimonail-card .card-body .card-img {
  width: 50px;
  margin-bottom: 50px;
}
.testimonial .testimonial-slider-wrapper .testimonail-card .card-body i {
  font-size: 5rem;
  color: #00A4EF !important;
  opacity: 0.1;
}
.testimonial .testimonial-slider-wrapper .testimonail-card .card-body p {
  margin-top: 30px;
}
.testimonial .testimonial-slider-wrapper .testimonail-card .card-footer {
  padding: 40px;
  border: none;
  border-radius: 0 0 30px 30px;
  background: #00A4EF !important;
}
.testimonial .testimonial-slider-wrapper .testimonail-card .card-footer p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */