// ============ Green ==============
// $green-one: #3D9C28;
// $green-two: #38C68B; 
// $green-three: #aeefc5; 
// $green-four: #dbf8e5; 
// $green-five: #95e284; 
// $white: #fff;
// $black: #3d3d3d;
// $blue: #2c5f79;
// $gray: #e8eaed;




// =========== BLUE ================


$blue-one: #024493;
$blue-two: #1E93FF;
$blue-three: #C4E6FF;
// $blue-four: #42B3E5;
$blue-four: #00A4EF !important;
$white: #fff;
$white2: #f4f6f9;
$black: #525252;
$gray: #8a8a8a;

